.Login {
    margin-top: 12vh;
    margin-left: 34vw;
    margin-right: 34vw;
    margin-bottom: 12vh;
    padding: 1%;
    border: 1px solid #8395a7;
    border-radius: 8px;
    background-color: white;
}



.Logo {
    width: 20%;
    height: 20%;
    border:1px solid black;
}

.App {
    background-color: #c8d6e5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }