
.toasts-container {
    width: 90%;
}



.abs-top-left {
    position: absolute;
    
    top: 0;
    left: 0;
}
.rel-top-left {
    position: relative;
    top: 0;
    left: 0;
}

.rel-top-right {
    position: relative;
    top: 0px;
    right: 0px;
}